<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated petrinetv2 -->
      <package
            uri="petrinetv2"
            class="petrinetv2.PetrinetV2Package"
            genModel="model/petrinetv2.genmodel"/>
   </extension>

</plugin>
