<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XPetrinetv1 -->
      <package
            uri="http://fr.inria.diverse.sample.petrinetv1.xdsml.xpetrinetv1/petrinetv1/"
            class="fr.inria.diverse.sample.petrinetv1.xdsml.xpetrinetv1.petrinetv1.Petrinetv1Package"
            genModel="model/XPetrinetv1.genmodel"/>
   </extension>

</plugin>
