/.PetriNetV1Semantics.xtendbin
/.Test.xtendbin
/NetAspect.java
/NetAspectNetAspectContext.java
/NetAspectNetAspectProperties.java
/PlaceAspect.java
/PlaceAspectPlaceAspectContext.java
/PlaceAspectPlaceAspectProperties.java
/Test.java
/TransitionAspect.java
/TransitionAspectTransitionAspectContext.java
/TransitionAspectTransitionAspectProperties.java
